<h3>Latest posts</h3>

<br />
<% @results.each do |post| %>
<p>
 
	<%=post['content']%>
	<br />
	<br />
 	Time create to posts:<%=post['created_date']%> 
 	<br />
 	<br />

	<a href='/details/<%=post['id']%>'>Comments</a>
	
</p>
<hr />

<% end %>