<h3>Create new Posts <h3>

<form action='/new' method='POST'>
	<textarea name="content" class="form-control" rows="6" placeholder="Type post text here"></textarea>
	<br/>
	<button type="submit" class="btn btn-success">Create post</button>
</form>